@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
h1{
	font-size: 4.5rem;  
}
h1, p {
	font-family: Old Standard TT;
}

.recipe-item__description, ul{
	font-family: Montserrat;
	margin-right: 450px;
}

.custom-bullet{
  list-style-type: none;
  clear: left;
  padding-left: 20px;
}

.recipe-item__list{
  list-style-image: url(../icons/bullet.svg);
}   

.recipe-item__instructions-list{

}


.recipe-item__instructions-list li::before {
	background-color: orange !important; 
	margin-right: 10px;
}